## Deliverable 3. Create a Travel Itinerary Map.

In [116]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from API_Keys import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [117]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Current Description,Max Temp,Lat,Lng,Hotel Name
0,4,Rikitea,PF,scattered clouds,75.04,-23.1203,-134.9692,People ThankYou
1,8,Demyansk,RU,clear sky,62.58,57.6430,32.4660,Demyanskaya Gostinitsa
2,9,Harper,LR,overcast clouds,74.98,4.3750,-7.7169,Screensaver
3,10,Kuusamo,FI,broken clouds,62.64,65.9667,29.1833,Hotel Kuusanka
4,12,Busselton,AU,clear sky,61.54,-33.6500,115.3333,Observatory Guest House

In [118]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</ddd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>

"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [119]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig = gmaps.figure()

fig.add_layer(marker_layer)
# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [120]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Yamada']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Yamada']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Hasaki']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Shimoda'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Hamada'] 
vacation_stop1

,City_ID,City,Country,Current Description,Max Temp,Lat,Lng,Hotel Name
101,243,Hasaki,JP,light rain,77.4,35.7333,140.8333,Inubosaki Kanko Hotel

In [121]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat", "Lng"]].to_numpy()[0]
end = vacation_end[["Lat", "Lng"]].to_numpy()[0]
stop1 = vacation_stop1[["Lat", "Lng"]].to_numpy()[0]
stop2 = vacation_stop2[["Lat", "Lng"]].to_numpy()[0]
stop3 = vacation_stop3[["Lat", "Lng"]].to_numpy()[0]
stop1

array([ 35.7333, 140.8333])

In [122]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()

japantrip = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode='DRIVING')

fig.add_layer(japantrip)

fig

Figure(layout=FigureLayout(height='420px'))

In [123]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Current Description,Max Temp,Lat,Lng,Hotel Name
0,622,Yamada,JP,light rain,70.56,39.4667,141.9500,Iroha-ya Inn
1,243,Hasaki,JP,light rain,77.40,35.7333,140.8333,Inubosaki Kanko Hotel
2,600,Shimoda,JP,broken clouds,79.16,34.6667,138.9500,Shimoda Tokyu Hotel
3,699,Hamada,JP,overcast clouds,79.52,34.8833,132.0833,Shimane Hamada Washington Hotel Plaza

In [126]:
# 9. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</ddd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [127]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig = gmaps.figure()

fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))